#search-bar{
    margin-top: 20px;
}

/* .course-placeholder{
    width: 40px;
    height: 90px;
} */

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.myicon{
    font-size: 50pt;
    color: purple;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}