<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Prototype</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Career Runway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <h3>
                Big Data Engineer
            </h3>
            <p>
                <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Prototype</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Career Runway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <h3>
                Full Stack Developer
            </h3>
            <p>
                Responsible for developing, maintaining, evaluating and testing big data solutions. Responsible for Hadoop development. Implementation including loading from disparate data sets, preprocessing using Hive and Pig. Scope and deliver various Big Data solutions. Ability to design solutions independently based on high-level architecture. Maintain the production systems (Kafka, Hadoop, Cassandra).

            </p>
        </div>
        <div class="row">
            <div class="col-md-4"> <h2>Skills Needed</h2>
                <ul class="list-group">
                    <li class="list-group-item">HBase, Hive/Impala</li>
                    <li class="list-group-item">Scala</li>
                    <li class="list-group-item">Spark (Python/ Java/ R) - SQL/Data Frames</li>
                    <li class="list-group-item">SQL, MySQL, NoSQL, Hadoop, MongoDB</li>
                    <li class="list-group-item">Kafka</li>
                    <li class="list-group-item">ETL/DataStage</li>
                   
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>


            </p>
        </div>
        <div class="row">
            <div class="col-md-4"> <h2>Skills Needed</h2>
                <ul class="list-group">
                    <li class="list-group-item">javascript frameworks (ideally Vue.js)</li>
                    <li class="list-group-item">HTML5</li>
                    <li class="list-group-item">CSS3</li>
                    <li class="list-group-item">SASS</li>
                    <li class="list-group-item">Webpack</li>
                    <li class="list-group-item">Node.js</li>
                    <li class="list-group-item">PHP</li>
                    <li class="list-group-item">MySQL</li>
                    <li class="list-group-item">Understanding of the AWS ecosystem</li>
                    <li class="list-group-item">Knowledge of the Linux operating system</li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>

