<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Prototype</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Career Runway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <h3>
                Network Designer
            </h3>
            <p>
                Maintaining and administering computer networks and related computing environments including systems software, applications software, hardware, and configurations. Performing disaster recovery operations and data backups when required. Protecting data, software, and hardware by coordinating, planning and implementing network security measures. Troubleshooting, diagnosing and resolving hardware, software, and other network and system problems.

            </p>
        </div>
        <div class="row">
            <div class="col-md-4"> <h2>Skills Needed</h2>
                <ul class="list-group">
                    <li class="list-group-item">knowledge on switches, Routers, Firewalls, LAN, WAN, TCP/IP, DNS, DHCP, EIGRP, BGP, OSPF, NHRP, ATM, PPP, MPLS, VPN, Trunking, Packet capture</li>
                    <li class="list-group-item">Adtran, Cisco, Brocade, Zhone, Palo Alto, Acme Packet, Sansay</li>
                    <li class="list-group-item">Linux, Solaris, and Windows environments</li>
                    <li class="list-group-item">Experience with at least one of the following vendors platforms: Adtran Voice Gateways, Cisco Call Manager, MetaSwitch, Genband, or Broadsoft</li>
                    <li class="list-group-item">Troubleshooting LAN, WAN, VoIP, and various IP related concepts</li>
                   
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>

